*{
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar{
    background-color: rgb(43, 183, 239);
    color: white;
    height: 100vh;
    text-decoration: none;
}

.logo-box{
    padding: 1rem;
    display: flex;
    font-size: 1.7rem;
}

.logo-box p{
    margin-left: 20px;
}

.sidebar-center-div, .sidebar-bottom-div{
    padding: 1.1rem;
    display: flex;
    font-size: 1.4rem;
}

.sidebar-center-links{
    margin: 13px 0;
}
.sidebar-center-links a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
a:hover{
    background-color: yellow;
    color: black;
}

main{
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 3% 77%;
    background-color: rgb(180, 178, 178);
}

header{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.header-top, .header-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.input-box{
    border-radius: 10px;
    width: 600px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
}

.right-nav{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.header-bottom-left-logos{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.header-bottom-right-buttons{
    display: flex;
    width: 350px;
    justify-content: space-evenly;
}

.header-bottom-right-buttons button{
    background-color: rgb(43, 183, 239);
    color: white;
    border: 1px solid rgb(43, 183, 239);
    border-radius: 15px;
    width: 75px;
}

.main-section{
    display: grid;
    width: 100%;
    grid-template-columns: 75% 25%;
}
.headings{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    padding: 10px 2rem;
}

.right-heading{
    margin-right: 15.3rem;
}


.project-section{
    display: grid;
    grid-template-columns: 50% 50%;
}

.projects-div{
    border-left: 5px solid #facc15;
    margin: 30px 0;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 7px;
    height: 175px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}

.projects-div-icons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-section{
    display: grid;
    grid-template-rows: 45% 3% 44%;
}

.rs-ancemnt{
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    height: 85%;
    padding: 15px;
    margin-top: 30px;
}
.ance-childs{
    padding: 10px;
}
.childs-ance{
    border-top: 1px solid black;
}
.rs-title{
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.trending-childs{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    row-gap: 3rem;
}
.trending-childs-text{
    display: flex;
    flex-direction: column;
}